{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="question-page">
    <div class="row">
      <div class="col-2">
          <div class="avatar-settings">
                <img src="{% static '/img/avatar-2.jpeg' %}" alt="">
          </div>
          {% include 'inc/like_group.html' %}
      </div>
      <div class="col-10">
        <h2 class=question-title">{{ question_item.title }}</h2>
        <div class="question-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis deserunt eos labore laborum nobis perferendis reprehenderit, soluta totam vero.
        </div>
        <div class="question-info">
             {% for tag in question_item.tags %}
                <a href='#'>{{ tag }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
    </div>
    <div class="divider"><hr></div>
    {% include 'inc/answer.html' %}
    <div class="divider"><hr></div>
    <div class="answer-form">
        <textarea placeholder="Enter your answer here.." class="form-control answer-textarea" ></textarea>
        <button type="button" class="btn btn-primary btn-answer">Answer</button>
    </div>
{% endblock %}