{% load static %}
<div class="question">
    <div class="row">
      <div class="col-2">
          <div class="row-3" >
            <div class="avatar">
                <img src="{% static '/img/avatar-2.jpeg' %}" alt="">
            </div>
          </div>
          <div class="like-group">
              <div class="row-1">
                   {% include 'inc/like_group.html' %}
              </div>
          </div>
      </div>
      <div class="col-10">
        <div class="question-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis deserunt eos labore laborum nobis perferendis reprehenderit, soluta totam vero.
        </div>
        <div class="question-info">
            <div class="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Correct
                  </label>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>