{% load static %}
<div class="question">
    <div class="row">
      <div class="col-2">
          <div class="row-3" >
            <div class="avatar">
                <img src="{% static '/img/avatar-2.jpeg' %}" alt="">
            </div>
          </div>
          <div class="like-group">
              <div class="row-1">
                   {% include 'inc/like_group.html' %}
              </div>
          </div>
      </div>
      <div class="col-10">
        <h2 class=question-title">
            <a href="{% url 'question_page' question_id=question.id %}"> {{ question.title }} </a>
        </h2>
        <div class="question-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis deserunt eos labore laborum nobis perferendis reprehenderit, soluta totam vero.
        </div>
        <div class="question-info">
            <div class="row">
                <div class="col-4">
                    <a  href="#">Answers ({{ question.answers_number }})</a>
                </div>
                <div class="col-6">
                    Tags:
                    {% for tag in question.tags %}
                        <a href='{% url 'tag_page' tag %}'>{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>
    </div>
</div>